<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>testfoto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">testfoto</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-content>
    <ion-button (click)="takePhoto()">Tomar Foto</ion-button>
    <div *ngIf="photo">
      <h2>Foto tomada:</h2>
      <img [src]="photo" />
    </div>
  </ion-card-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Foto tomada</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img [src]="photo" />
    </ion-card-content>
  </ion-card>
</ion-content>
